.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(244, 231, 214, 0.374);
}
h1{
    font-size: 70px;
}
img{
    padding-bottom: 30px;
    width: 1000px;
    height: 700px;
}
.buttons{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
button{
    width: 150px;
    font-size: 30px;
    background-color:lightgray;
    border-radius: 10%;

}